.card-img-top{
    height: 150px;
    width: 150px;
    padding: 20px;
}
.card-body{
    padding: 12px;
    padding: 20px;
   
    
}

.card-style{
    border: 2px solid red;
}
.col-lg-4{
   padding: 22px;
}
.card-body p{
    margin-top: 12px;
    line-height: 1;
    color: rgb(0, 95, 16);
}
.card-body h6{
    line-height: 2;
}